@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: DarkSlateGray;
  font-family: 'Bungee', cursive;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
}

canvas {
  display: block;
  outline: 4px solid DarkSlateGray;
  outline-offset: 2px
}

.status-bar {
  font-size: 18px;
  margin-bottom: 2px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status-bar__item {
  display: flex;
  flex-direction: row;
}
.status-bar__item:first-child {
  justify-content: start;
  width: 150px;
}

.status-bar__item:nth-child(2) {
  justify-content: center;
}

.status-bar__item:last-child {
  justify-content: end;
  width: 150px;
}

.status-bar__value {
  width: 20px;
  text-align: right;
}

.bottom-info-bar{
  display: flex;
  min-height: 19px;
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
}


